nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}


ul li {
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    
}

h1 {
    display: flex;
    justify-content: center;
}